.newArrival-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.newArrival-container .bannerHeroContainer {
    height: 35vh;
    background-color: #757575;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filterIconDiv,
.filterBox,
.priceFilterContainer {
    width: 33%;
}

.newArrival-container .innerBannerHeroContainer {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}

.newArrival-container .innerBannerHeroContainer p {
    font-size: 15pt;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.newArrival-container .innerBannerHeroContainer span {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-top: 10px;
}

.newArrival-product-container {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.filter-product-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

.filterIconDiv {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filterBox {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.innerFilterBox {
    border: 1px solid rgba(128, 128, 128, 0.591);
    display: flex;
    align-items: center;
    padding: 2px 5px;
    cursor: pointer;
}

.innerFilterBox:hover {
    border: 1px solid var(--fontColor);
}

.filterIconDiv span {
    color: rgb(57, 57, 57);
    cursor: pointer;
}

.filterIconDiv span:hover {
    color: var(--fontColor);
    transition: 1s ease all;
}

.innnerPriceFilterContainer {
    border: 1px solid grey;
    padding: 6px 12px;
    border-radius: 30px;
    color: rgb(57, 57, 57);
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.priceFilterContainer {
    display: flex;
    justify-content: flex-end;
}

.innnerPriceFilterContainer span {
    font-size: var(--smallFont);
    font-family: var(--fontFamily);
    font-weight: var(--mediumFontWeight);
}


.mainProductContainer {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inner-productContainer {
    width: 100%;
    padding: 10px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-img-container {
    width: 10%;
}

.product-img-container img {
    width: 100%;
    object-fit: contain;
}

.product-info-container {
    width: 75%;
}

.product-actionbtns {
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productLabelContainer span,
.productLabelContainer p,
.productLabelContainer span,
.product-desc {
    font-family: var(--fontFamily);
}

.productLabelContainer span {
    color: grey;
}

.productLabelContainer p {
    color: black;
    font-size: var(--mediumFontWeight);
}

.product-desc p {
    font-size: var(--smallFont);
    color: gray;
}

.product-desc {
    padding: 10px 0px;
}

.discountPrice {
    color: var(--fontColor) !important;
    padding-left: 10px;
}

.productLabel {
    font-size: var(--smallFont);
}

.priceBox span {
    font-size: var(--smallFont);
}

.quickview-btn {
    padding: 8px;
    background: none;
    border: 1px solid var(--fontColor);
    border-radius: 20px;
    color: var(--fontColor);
}

.addtocart-btn {
    padding: 8px;
    background: none;
    background: var(--fontColor);
    border-radius: 20px;
    color: var(--fontColor);
    border: none;
    color: white;
}

.innerProductContainer,
.two-grid-product-container {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.productContainer {
    height: 100%;
    width: 32%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

.productContainer img {
    height: 50vh;
    width: 100%;
    object-fit: contain;
}

.product-hover-btn {
    transform: translate(100px, -365px);
    gap: 10px;
    width: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
    opacity: 0;

}

.product-hover-btn button {
    padding: 10px 50px;
}

.productContainer:hover .product-hover-btn {
    display: block;
    display: flex;
    flex-direction: column;
    transform: translate(100px, -250px);
    transition: 1s ease all;
    opacity: 1;
}



.quickview-btn:hover {
    cursor: pointer;
    background-color: black;
    border: none;
    color: white;
    transition: 1s ease all;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.color {
    color: white;
    border: 1px solid black;
}

.addtocart-btn:hover {
    color: black;
    border: 1px solid var(--fontColor);
    cursor: pointer;
    background-color: white;
    transition: 1s ease all;
}

.productContainer .productLabelContainer p {
    font-family: var(--fontFamily);
    font-size: 10pt;
    letter-spacing: 1px;
    color: black;
    padding: 5px 0px;
}

.productContainer .productLabelContainer .discountPrice {
    font-size: var(--mediumFontWeight);
}

.discount-banner {
    padding: 15px 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    background-color: var(--orangeColor);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;

}


.productContainer:hover .discount-banner {
    opacity: 1;
    transform: translate(-15px, 10px);
    transition: 1s ease all;
}

.discount-banner {
    color: white;
}

.discount-banner span {
    font-family: var(--fontColor);
    font-size: var(--smallFont);
}

.loader {
    position: absolute;
    width: auto;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader img {
    width: 20%;
}

.productDetail-modal {
    padding: 5px;
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.ReactModal__Content,
.ReactModal__Content--after-open {
    width: 60%;
    padding: 0;
}

.productImg {
    height: 100%;
    width: 40%;
}

.productImg img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.productDetails {
    height: 100%;
    width: 60%;
    border: 1px solid;
}


.productDetails .product-info-container {
    width: 100%;
}


.productDetails .product-info-container .productLabelContainer p {
    font-weight: bold;
    font-size: var(--normalFont);
    font-family: var(--fontFamily);
    font-weight: 600;
}

.productDetails .product-info-container .productLabelContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productDetails .product-info-container .productLabelContainer .priceBox span {
    font-size: 12pt;
}

.productDetail-modal .product-desc p {
    line-height: 20px;
}