.header-container {
    height: 15vh;
    background-color: white;
    width: 100%;
}

.top-container {
    width: 100%;
    background-color: #f6f6f8;
    padding: 10px;
    display: flex;
}

.left-side-headerDiv {
    width: 33%;
    display: flex;
    gap: 15px;
    align-items: center;
}

.innerLeftSideContainer {
    display: flex;
    align-items: center;
    gap: 6px;
}

.innerLeftSideContainer span {
    color: grey;
    font-family: monospace;
    font-size: 10pt;
}

.right-side-headerDiv {
    width: 33%;
}

.right-side-headerDiv p {
    font-size: 10pt;
    color: grey;
    text-align: center;
    font-family: monospace;
}

.right-side-headerDiv span {
    color: black;
    padding-left: 10px;
    font-family: 'Libre Baskerville';
    font-weight: 400;
}

.header-container .headerContaiener {
    height: auto;
    width: 100%;
}

.headerContaiener {
    padding: 7px 10px;
    border-bottom: 1px solid #80808033;
    width: 100%;
    display: flex;
}

.headerContaiener .logosection {
    width: 25%;
}

.headerContaiener .collection-list {
    width: 50%;
}

.rightSideNavigateIcons {
    width: 25%;
}

.collection-list ul {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5%;
    text-align: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--mediumFont);
}

.collection-list ul li {
    list-style-type: none;
    padding: 0px 5px;
}

.headerContaiener .rightSideNavigateIcons {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-end;
}

.right-side-headerDiv p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.right-side-headerDiv p:hover span {
    color: var(--fontColor);
    cursor: pointer;
    transition: .5s ease all;
}

.collection-list li {
    position: relative;
}


.collection-list .collectionListInner span {
    color: white;
    position: absolute;
    top: -13px;
    right: -10px;
    background-color: var(--fontColor);
    padding: 0px 5px;
    border-radius: 10px;
    font-size: var(--extraSmallFont);
}

.collection-list .collectionListInner .saleBackground {
    background-color: #ffa800;
}

.heartIconDiv,
.cartIconDiv {
    position: relative;
}

.heartIconDiv .counterSpanContainer,
.cartIconDiv .counterSpanContainer {
    position: absolute;
    background-color: black;
    padding: 1px 5px;
    color: white;
    top: -13px;
    border-radius: 50%;
    font-size: var(--extraSmallFont);
    right: 0;
}

.searchIconDiv,
.accountIconDiv,
.heartIconDiv,
.cartIconDiv {
    cursor: pointer;
}