.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
  }
  
  .gallery-item {
    position: relative;
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .gallery-item:hover {
    transform: scale(1.05);
  }
  
  .gallery-img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  
  .gallery-img:hover {
    transform: scale(1.1);
    filter: brightness(0.8);
  }
  
  .label {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .view-details {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f04;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .view-details:hover {
    background-color: #d03;
    transform: scale(1.1);
  }
  
  /* Large Devices (Laptops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .gallery-item {
      width: 45%;
    }
  }
  
  /* Medium Devices (Tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .gallery-item {
      width: 70%;
    }
  }
  
  /* Small Devices (Landscape Phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    .gallery {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 10px;
    }
  
    .gallery-item:nth-child(1) {
      grid-column: 1 / -1;
      width: 100%;
    }
  
    .gallery-item {
      width: 100%;
    }
  }
  
  /* Extra Small Devices (Portrait Phones, less than 576px) */
  @media (max-width: 575.98px) {
    .gallery {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 10px;
    }
  
    .gallery-item:nth-child(1) {
      grid-column: 1 / -1;
      width: 100%;
    }
  
    .gallery-item {
      width: 100%;
    }
  }
  