.cat_mainDiv {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.catSubDivs {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.catCard {
    width: 20rem;
    height: 25rem;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 0 10px;
    overflow: hidden;
}


.catImage {
    width: 100%;
    border-radius: 20px;
    height: 100%;
    transition: all ease-in-out 0.3s;
}

.catImage:hover {
    transform: scale(1.04);
}

.cat_button {
    width: 100%;
    height: 100%;
    padding: 12px;
    border-radius: 5px;
    background-color: white;
    transition: all ease-in-out 0.3s;
    border: none;
}

.cat_button:hover {
    background-color: #171717;
    color: white;
    cursor: pointer;
}

.catNavigateButton {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    z-index: 1;
}

/* Responsive styles */
@media (max-width: 768px) {
    .cat_mainDiv {
        height: 50vh;
        display: inline;
    }

    .catCard {
        width: 15rem;
        height: 20rem;
    }


}

@media (max-width: 480px) {
    .cat_mainDiv {
        height: 40vh;
    }

    .catCard {
        width: 12rem;
        height: 18rem;
    }
}